<div class="iit-jee-banner item-bg-iit-jee">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="main-banner-text">
                  <!-- <h4>Experience</h4>
                  <h1>the empowered learning<span></span></h1> -->
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#about" class="btn btn-primary">Get Started</a>
                  <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
              </div>
          </div>
      </div>
  </div>
</div>


<div id="iit-jee" class="iit-jee-area ptb-100">
  <div class="container">
      <div class="section-title">
          <h2><span>IIT-JEE</span></h2>
          <p>As the gateway to e prestigious IITs and NITs and allied established teschnical instttutions , there is an ever increasing student participation for the twin levels of JEE mains and Advanced leading to an International standard of expertise in techical forefront and it is herein that We provide a reserched material coupled with the personal enrichment by our vastly experienced faculty and the wonderful results year by year are before all.
          </p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="iit-jee-video">
              <img src="../../../../assets/images/banners/IIT-JEE-1.png" alt="about">
              <div class="video-btn">
                  <!-- <button class="popup-youtube" (click)="ngxSmartModalService.getModal('popupOne').open()"><i class="fas fa-play"></i></button> -->
              </div>
          </div>
      </div>
          <div class="col-lg-6 col-md-12">
              <div class="iit-jee-content">
                  <div class="section-title">
                      <!-- <h2>We Are Digital <span>Marketing & Branding</span></h2> -->
                      <!-- <p>As the gateway to e prestigious IITs, there is an ever increasing student participation for the twin levels of JEE mains and Advanced leading to an International standard of expertise in technical forefront and it is herein that We provide a researched material coupled with the personal enrichment by our vastly experienced faculty and the wonderful results year by year are before all</p> -->


                      <p>But..as many wonder..how do we achieve such a remarkable results that too so continuously..and this gets stealimed to our faculty first as the Institution was estalishd by a group of highly expert faculty carrying with them not only expertise but also years of experience and this makes all the difference as this Institution is the coming together of teacing faculty and not corporate Industrialists and this has been the driving force behind this on-going triumph wining away top hoonous everywhwere.
                      </p>


                        <p>We up here follow the holistic development catering apportioned time and energies for both academic and competitive examinations in a wel balanced way as we firmly believe that the real success lies in the balanced handling of these two challenges in the most effective way and this been the corner stone of our ever growing
                          reputation as the perfect destination for assured performance
                          </p>

                  </div>
              </div>
          </div>
          <div class="">
            <p class="my-3">Also..we deem IIT -JEE as the splendid opportunity for evolving the minds of the students to attune themselves to the art and craft of application of the core principles to the specific situations and this appraoch has paid rich dividends as the results pour in season after season and this amply testifies our modality to focus on the development of the inherent intellectual faculties of the students rather than coercing them with the cramming of the courrse material into untrained minds of the students and forcing them to perform without properly focussing on their internal development leading to a kind of educational crisis we witness in the society today.
            </p>
          </div>
      </div>
  </div>
</div>
