<div class="iit-jee-banner item-bg-iit-jee">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="main-banner-text">
                  <!-- <h4>Experience</h4>
                  <h1>the empowered learning<span></span></h1> -->
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#about" class="btn btn-primary">Get Started</a>
                  <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
              </div>
          </div>
      </div>
  </div>
</div>

<div id="iit-jee" class="iit-jee-area ptb-100">
  <div class="container">
      <div class="section-title">
          <h2><span>IIT-JEE</span></h2>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="iit-jee-video">
              <img src="../../../assets/images/banners/about.jpg" alt="about">
              <div class="video-btn">
                  <!-- <button class="popup-youtube" (click)="ngxSmartModalService.getModal('popupOne').open()"><i class="fas fa-play"></i></button> -->
              </div>
          </div>
      </div>
          <div class="col-lg-6 col-md-12">
              <div class="iit-jee-content">
                  <div class="section-title">
                      <!-- <h2>We Are Digital <span>Marketing & Branding</span></h2> -->
                      <p>As the gateway to e prestigious IITs, there is an ever increasing student participation for the twin levels of JEE mains and Advanced leading to an International standard of expertise in technical forefront and it is herein that We provide a researched material coupled with the personal enrichment by our vastly experienced faculty and the wonderful results year by year are before all</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
