

<nav class="navbar navbar-expand-lg navbar-light bg-light pb-0" [class.scrolled]="isScrolled"
  [class.active]="classApplied" ngStickyNav stickyClass="sticky-box-shadow"
  ngStickyNav>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <!-- <img src="../../../assets/images/LOGO.png" alt> -->
      <!-- <img src="../../../assets/images/logos/navbar-logo-white.png" alt="logo" class="brandlogo1"> -->
      <img src="../../../assets/images/logos/navbar-logowhite1.png" alt="blue logo" class="brandlogo2" />
      <img src="../../../assets/images/logos/navbar-logo1.png" alt="red logo" class="brandlogo1" />
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleClass()">
      <span class="burger-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="home"
            routerLinkActive="active"
            (click)="scrollToTop()">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="about-us"
            routerLinkActive="active"
            (click)="scrollToTop()">About us</a>
        </li>
        <li class="nav-item dropdown-link1 dropdown-nav submenu-parent">
          <span
              class="nav-link dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              routerLink="academics"
              routerLinkActive="active"
              (click)="scrollToTop()">
              Acadamic
            </span>
            <div
              class="dropdown-menu dropdown-menu-1"
              aria-labelledby="dropdownMenuButton1  ">
              <ul>
                <li>
                  <a
                    class="nav-link"
                    rel="ugc"
                    routerLink="/mpc"
                    routerLinkActive="active"
                    (click)="scrollToTop()">MPC</a>
                </li>
                <li>
                  <a
                    class="nav-link link2"
                    rel="ugc"
                    routerLink="/bipc"
                    routerLinkActive="active"
                    (click)="scrollToTop()">BiPC</a>
                </li>
              </ul>
              <!-- <div class="d-flex">
                    <div class="col-6">

                    </div>
                  </div> -->
            </div>

          <!-- <div class="dropdown">


          </div> -->
        </li>
        <!-- <li class="nav-item dropdown-link1 dropdown-nav submenu-parent">
          <div class="dropdown">
            <span
              class="nav-link dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              routerLink="academics"
              routerLinkActive="active"
              (click)="scrollToTop()"
            >
              Academics
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <ul>
                <li>
                  <a class="nav-link" routerLink="/mpc" routerLinkActive="active" (click)="scrollToTop()">MPC</a>
                </li>
                <li>
                  <a class="nav-link link2" routerLink="/bipc" routerLinkActive="active" (click)="scrollToTop()">BiPC</a>
                </li>
              </ul>
            </div>
          </div>
        </li> -->

        <li class="nav-item dropdown-link2 dropdown-nav submenu-parent">
          <!-- <div class="dropdown">

          </div> -->
          <span
          class="nav-link dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          routerLink="competitive"
          routerLinkActive="active"
          (click)="scrollToTop()">
          Competitive
        </span>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1 ">
          <li>
            <a
            class="nav-link"
            rel="ugc"
            routerLink="/neet"
            routerLinkActive="active"
            (click)="scrollToTop()">NEET</a>
          </li>
          <li>
            <a
              class="nav-link"
              rel="ugc"
              routerLink="/iit-jee"
              routerLinkActive="active"
              (click)="scrollToTop()">IIT-JEE-Mains-Advanced</a>
          </li>
        </ul>
        </li>
        <li class="nav-item dropdown-link2 dropdown-nav submenu-parent">
          <!-- <div class="dropdown">

          </div> -->
          <span
          class="nav-link dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          routerLink="gallery"
          routerLinkActive="active"
          (click)="scrollToTop()">
          Gallery
        </span>

            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1 ">
              <!-- <li>
                <a
                class="nav-link"
                rel="ugc"
                routerLink="/events"
                routerLinkActive="active"
                (click)="scrollToTop()">Events</a>
              </li> -->
              <li>
                <a
                  class="nav-link"
                  rel="ugc"
                  href="../../../assets/images/banners/Brochure .pdf"
                  routerLinkActive="active"
                  (click)="scrollToTop()">Brochure</a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="blog"
            routerLinkActive="active"
            (click)="scrollToTop()">Blog</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="contact-us"
            routerLinkActive="active"
            (click)="scrollToTop()">Contact Us</a>
        </li>
          </ul>

      <ul class="navbar-nav ml-auto for-responsive">
               <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="home"
            routerLinkActive="active"
            (click)="scrollToTop()">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="about-us"
            routerLinkActive="active"
            (click)="scrollToTop()">About us</a>
        </li>
        <li class="nav-item dropdown-link1 dropdown-nav">
          <div class="dropdown">
            <span
              class="nav-link dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              routerLink="/academics"
              routerLinkActive="active"
              (click)="scrollToTop()"
            >
            Acadamic
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a
                  class="dropdown-item"
                  rel="ugc"
                  routerLink="/mpc"
                  routerLinkActive="active"
                  (click)="scrollToTop()"
                  >MPC</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item link2"
                  rel="ugc"
                  routerLink="bipc"
                  routerLinkActive="active"
                  (click)="scrollToTop()"
                  >BiPC</a
                >
              </li>
              </ul>
          </div>
        </li>
        <li class="nav-item dropdown-link1 dropdown-nav">
          <div class="dropdown">
            <span
              class="nav-link dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              routerLink="/competitive"
              routerLinkActive="active"
              (click)="scrollToTop()"
            >
            Competitive
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a
                  class="dropdown-item"
                  rel="ugc"
                  routerLink="/iit-jee"
                  routerLinkActive="active"
                  (click)="scrollToTop()"
                  >IIT & JEE</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item link2"
                  rel="ugc"
                  routerLink="/neet"
                  routerLinkActive="active"
                  (click)="scrollToTop()"
                  >NEET</a
                >
              </li>
              </ul>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="gallery"
            routerLinkActive="active"
            (click)="scrollToTop()">Gallery</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="blog"
            routerLinkActive="active"
            (click)="scrollToTop()">Blog</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="contact-us"
            routerLinkActive="active"
            (click)="scrollToTop()">Contact Us</a>
        </li>

      </ul>
    </div>
  </div>
</nav>





<!-- Add ngStickyNav directive -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"
     ngStickyNav
     stickyClass="sticky-box-shadow">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/images/LOGO.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleClass()">
      <span class="burger-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             routerLink="home"
             routerLinkActive="active"
             (click)="scrollToTop()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             routerLink="about-us"
             routerLinkActive="active"
             (click)="scrollToTop()">About us</a>
        </li>
        <li class="nav-item dropdown-link1 dropdown-nav submenu-parent">
          <div class="dropdown">
            <span class="nav-link dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  routerLink="academics"
                  routerLinkActive="active"
                  (click)="scrollToTop()">Acadamic</span>
            <div class="dropdown-menu dropdown-menu-1" aria-labelledby="dropdownMenuButton1">
              <ul>
                <li>
                  <a class="nav-link"
                     rel="ugc"
                     routerLink="/mpc"
                     routerLinkActive="active"
                     (click)="scrollToTop()">MPC</a>
                </li>
                <li>
                  <a class="nav-link link2"
                     rel="ugc"
                     routerLink="/bipc"
                     routerLinkActive="active"
                     (click)="scrollToTop()">BiPC</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown-link2 dropdown-nav submenu-parent">
          <div class="dropdown">
            <span class="nav-link dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  routerLink="competitve"
                  routerLinkActive="active"
                  (click)="scrollToTop()">Competitve</span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <li>
                <a class="nav-link"
                   rel="ugc"
                   routerLink="/iit-jee"
                   routerLinkActive="active"
                   (click)="scrollToTop()">IIT & JEE</a>
              </li>
              <li>
                <a class="nav-link"
                   rel="ugc"
                   routerLink="/neet"
                   routerLinkActive="active"
                   (click)="scrollToTop()">NEET</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             routerLink="gallery"
             routerLinkActive="active"
             (click)="scrollToTop()">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             routerLink="blog"
             routerLinkActive="active"
             (click)="scrollToTop()">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             routerLink="contact-us"
             routerLinkActive="active"
             (click)="scrollToTop()">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
