

<div class="album py-5 ">
  <div class="container">
    <div class="section-title">
      <h2><span>Competitive</span></h2>
      <p>In tune with the changing times, We have developed various modules to make sure the aspiring Medical students excel in the choicest national and Regional institutions of excellence through the learning landscape of Biology, physics and chemistry added on with conceptual fornications to take an unassailable lead in this cut throat competition.</p>
    </div>
    <div>
      <p class="my-3">
        The very speciality of this Academy is not to stress the students with unwanted pressure of focussing on the competitive strategies but rather refines their conceptual understanding in such a meticulous way that the student s are geared up to develop firm understanding of the elemental thoroughness of the combination of the core subjects step by step so that they become worthy of wining away accolades at both the academic and the competitive arenas in the most harmonious development.
      </p>
      <p class="my-3">
        We understand that the perfetion in the core groupiings is more vital than the pressurised attempts at students to forcefully exert themselves into achieving the acclaimed honours without caring in the least for the actualised complete development of the students and therefore are unique in devising such humanely crafted methodologies wherein the physical , psychological and sociological growth of the student is aimed at resulting in a rare group of students who are nurtured carefully to accept the challenges of life and the examinations in the most refined and matured way cropping up bountiful results ever since its inception.
      </p>
    <p class="my-3">We understand that the perfetion in the core groupiings is more vital than the pressurised attempts at students to forcefully exert themselves into achieving the acclaimed honours without caring in the least for the actualised complete development of the students and therefore are unique in devising such humanely crafted methodologies wherein the physical , psychological and sociological growth of the student is aimed at resulting in a rare group of students who are nurtured carefully to accept the challenges of life and the examinations in the most refined and matured way cropping up bountiful results ever since its inception.</p>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">IIT-JEE-Mains-Advanced</text></svg>
          <div class="card-body">
            <p class="card-text">As the gateway to e prestigious IITs, there is an ever increasing student participation for the twin levels of JEE mains...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/iit-jee" (click)="scrollToTop()">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">NEET</text></svg>
          <div class="card-body">
            <p class="card-text">In the era of a common entance and eligibility for the Medical courses across the country, the intensity...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/neet" (click)="scrollToTop()">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
