<div class="neet-banner item-bg-neet">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="main-banner-text">
                  <!-- <h4>Experience</h4>
                  <h1>the empowered learning<span></span></h1> -->
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#about" class="btn btn-primary">Get Started</a>
                  <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
              </div>
          </div>
      </div>
  </div>
</div>

<div id="neet" class="neet-area ptb-100">
  <div class="container">
      <div class="section-title">
          <h2><span>NEET</span></h2>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
      </div>
      <div class="row align-items-center">

          <div class="col-lg-6 col-md-12">
              <div class="neet-content">
                  <div class="section-title">
                      <!-- <h2>We Are Digital <span>Marketing & Branding</span></h2> -->
                      <p>In the era of a common entrance and eligibility for the Medical courses across the country, the intensity of preparation to face this daunting and challenging examination is well known which makes us accept the challenge boldly to build a strong content with our faculty indulging in student development making success a habit with us</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="neet-video">
                <img src="../../../assets/images/banners/about.jpg" alt="about">
                <div class="video-btn">
                    <!-- <button class="popup-youtube" (click)="ngxSmartModalService.getModal('popupOne').open()"><i class="fas fa-play"></i></button> -->
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
