<div class="neet-banner item-bg-neet">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="main-banner-text">
                  <!-- <h4>Experience</h4>
                  <h1>the empowered learning<span></span></h1> -->
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#about" class="btn btn-primary">Get Started</a>
                  <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
              </div>
          </div>
      </div>
  </div>
</div>

<div id="neet" class="neet-area ptb-100">
  <div class="container">
      <div class="section-title">
          <h2><span>NEET</span></h2>
          <p>In the era of a common entance and eligibility for the Medical courses across the country, the intensity of preaparation to face this daunting and challenging examination is well known which makes us accept the challenge boldly to build a strong content with our faculty indulging in student development making success a habit with us</p>
      </div>
      <div class="row ">

          <div class="col-lg-6 col-md-12">
              <div class="neet-content">
                  <div class="section-title">
                      <!-- <h2>We Are Digital <span>Marketing & Branding</span></h2> -->
                      <p>We have been extremely careful in devising the sure success methodologies for bringing out the latent abilities of the students and taking them from there to connect with the extraordinary faculties of their learnings and leading them hand by hand into the arena of application based analysis of the core concepts resulting in the most repected results much to the delight of the society at large</p>
                      <p class="my-3">We also believe that the student has to refined not only intellectually but equally as well socially to evolve as the finest human being and thus have designed our educational programs with abundant stress upon the naturalistic learning as against the coerced cramming and this has ignited a newest trend of making success without actually striving for it for we instill in the students that adequate preparation through hard and sincere industry alone is thesingular  realistic factor for sre success and this has been leading us brilliantly putting us in the deservable lead.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="neet-video">
                <img src="../../../../assets/images/banners/NEET-PHOTO-01.png" alt="about">
                <div class="video-btn">
                    <!-- <button class="popup-youtube" (click)="ngxSmartModalService.getModal('popupOne').open()"><i class="fas fa-play"></i></button> -->
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
