<div class="bipc-banner item-bg-bipc">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="main-banner-text">
                  <!-- <h4>Experience</h4>
                  <h1>the empowered learning<span></span></h1> -->
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#about" class="btn btn-primary">Get Started</a>
                  <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
              </div>
          </div>
      </div>
  </div>
</div>

<div id="bipc" class="bipc-area ptb-100">
  <div class="container">
      <div class="section-title">
          <h2><span>Bipc</span></h2>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="bipc-video">
              <img src="../../../assets/images/banners/about.jpg" alt="about">
              <div class="video-btn">
                  <!-- <button class="popup-youtube" (click)="ngxSmartModalService.getModal('popupOne').open()"><i class="fas fa-play"></i></button> -->
              </div>
          </div>
      </div>
          <div class="col-lg-6 col-md-12">
              <div class="bipc-content">
                  <div class="section-title">
                      <!-- <h2>We Are Digital <span>Marketing & Branding</span></h2> -->
                      <p>Any  advanced study in the domain of Medicine and allied biological sciences needs a thorough understanding and grounding in the triple union of Biology ,Physics and Chemistry and keeping this in mind, We have designed our content and creative teaching methodologies to enrich the students accordingly.</p>
                  </div>
                  <!-- <ul class="features-list">
                      <li><i class="fas fa-check"></i>Creative Design</li>
                      <li><i class="fas fa-check"></i>Retina Ready</li>
                      <li><i class="fas fa-check"></i>Responsive Design</li>
                      <li><i class="fas fa-check"></i>Modern Design</li>
                      <li><i class="fas fa-check"></i>Awesome Design</li>
                      <li><i class="fas fa-check"></i>Digital Marketing & Branding</li>
                  </ul> -->
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
              </div>
          </div>

      </div>
  </div>
</div>
