// .home{
//   margin-top: 10vh;
// }

// .section1{
//   // background-image: url(../../../assets/images/banners/bg2.jpg);
//   .academic{
// // background-color: lightblue;
//   }
//   .competitive{
//     // background-color: #F7F5F4;

//   }
// }

.acadamic{
  background-image: url(../../../assets/images/banners/dott.jpg);
  position: relative;
    overflow: hidden;
    background: {
        // position: center center;
        size: cover;
        repeat: no-repeat;
    };
  padding: 50px  10px !important;
  // background-color: lightgray;
  // .section-title{
  //   background-color: #fff;
  //   padding: 20px;
  // }
  .welcome-titel{
    margin: 4rem 0;
    text-align: center;
  h1{
    font-weight: 400 !important;
    font-size: 40px !important;
  }
  }
  .marketing{
    .single-box{
      margin-bottom: 50px;
    }
    .single-box:hover {
      transform: translateY(-5px);
      background-color: var(--mainColor);
      // background-color: #FDD300;
      // background-color: #0e2b5c;
      // box-shadow: 0px 8px 16px 0px rgb(146 184 255 / 20%);
      box-shadow: 1px 4px 10px rgb(0 0 0 / 0.2);
      border-radius: 12px;
      i{
        // color: #E4722E;
        // border-color: #E4722E;
        color: #ffc448;
        // color: #203E78;
        // border-color: #E4722E;
        background-color: #fff;
      }
      p{
        // color: #203E78;
        color: #FDD300;
      }
      h2{
        // color: #203E78;
        color: #FDD300;
      }
      .btn{
        background-color: #fff;
        // color: #E4722E;
        color: #203E78;
        // border-color: #E4722E;
        visibility: visible;
      }
    }
  .single-box {
    text-align: center;
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: .5s;
    // margin-bottom: 30px;
    // border: 2px solid #e7eaeb;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
    i{
      font-size: 34px;
      border: 1px solid #333;
      border-radius: 50%;
      padding:14px 17.3px;
      margin: 14px 0;
      // color: #E4722E;
      // border-color: #E4722E;
      color: #203E78;
      // color: #0e2b5c;
      // border-color: #0e2b5c;
      border-color: #203E78;
    }
    h2{
      margin: 5px 0;
      font-size: 26px;
      font-weight: 600 !important;
    }
    .btn{
      // color: #1F8ECB;
      // border-color: #1F8ECB;
      color: #203E78;
      // display: none;
      font-size: 14px;
      font-weight: bold;
      visibility: hidden;
      &:hover{
        color: #fff;
        // border-color: #;
        background-color: #ffc448;


      }
    }

  }
  }

  p {
    font-size: 15px;
  }


  // icons
  .global-presence{
    padding: 14px 16px !important;
  }

  .core-values{
    padding:14px 11.3px !important;
  }
  .careers{
    padding:14px 12px !important;
  }

}

.competitive{
  background-color: #F7F5F4;
  padding: 50px  10px  20px !important;
  // background-color: lightgray;
  background-image: url(../../../assets/images/banners/dott.jpg);
  position: relative;
    overflow: hidden;
    background: {
        // position: center center;
        size: cover;
        repeat: no-repeat;
    };
  padding: 50px  10px !important;
  // background-color: lightgray;
  // .section-title{
  //   background-color: #fff;
  //   padding: 20px;
  // }
  .welcome-titel{
    margin: 4rem 0;
    text-align: center;
  h1{
    font-weight: 400 !important;
    font-size: 40px !important;
  }
  }
  .marketing{
    .single-inner-img{
      width: 100%;
      height: 100%;
    }
    .single-box:hover {
      transform: translateY(-5px);
      // background-color: #1F8ECB;
      // background-color: #FDD300;
      // background-color: #ffc448;
      background-color: var(--mainColor);
      // box-shadow: 0px 8px 16px 0px rgb(146 184 255 / 20%);
      box-shadow: 1px 4px 10px rgb(0 0 0 / 0.2);
      border-radius: 6px;
      i{
        // color: #E4722E;
        // border-color: #E4722E;
        // color: #E4722E;
        color: #203E78;
        // border-color: #E4722E;
        background-color: #fff;
      }
      p{
        color: #FDD300;
      }
      h2{
        color: #FDD300;
      }
      .btn{
        background-color: #fff;
        // color: #E4722E;
        color: #203E78;
        // border-color: #E4722E;
        visibility: visible;
      }
    }
  .single-box {
    text-align: center;
    padding: 20px 14px;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: .5s;
    // margin-bottom: 30px;
    // border: 2px solid #e7eaeb;
    border-radius: 3px;

    background: #ffffff;

    i{
      font-size: 34px;
      border: 1px solid #333;
      border-radius: 50%;
      padding:14px 17.3px;
      margin: 14px 0;
      // color: #E4722E;
      // border-color: #E4722E;
      color: #203E78;
      // color: #0e2b5c;
      // border-color: #0e2b5c;
      border-color: #203E78;
    }
    h2{
      margin: 5px 0;
      // font-size: 22px;
      font-size: 18px;
      font-weight: 600 !important;
    }
    .btn{
      // color: #1F8ECB;
      // border-color: #1F8ECB;
      // color: #1F8ECB;
      color: #203E78;
      // display: none;
      font-size: 12px;
      font-weight: bold;
      visibility: hidden;
      padding: 8px 16px;
      &:hover{
        color: #fff;
        // border-color: #;
        background-color: #FDD300;


      }
    }

  }
  }

  p {
    font-size: 14px;
  }



  // icons
  .global-presence{
    padding: 14px 16px !important;
  }

  .core-values{
    padding:14px 11.3px !important;
  }
  .careers{
    padding:14px 12px !important;
  }

}


.partner-area{
  background-color: #ffc448;
}

.funfacts{
// background-color: #ffc448;
background-color: #80808021;
// padding: 60px 0;
height: 200px;
  .single-blog-item{
    height: 15vh;
    border-radius: 5px;
    &:hover{
      a{
        color: #ffc448 !important;
      }
    }
  }
}


.review{
  background-color: lightblue;
  // padding: 40px 100px 0;
  padding: 40px 0 80px 0;

  h4{
    margin-bottom: 3rem;
    text-decoration: underline;
    color: var(--mainColor);
  }
}

// .home {
//   height: 2000px; /* Add scrollable content */
//   padding-top: 50px; /* Offset for the sticky navbar */
// }




























// bounceing
.hero-scroll .title {
  color: var(--white-color);
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  // font-family: var(--body-font);
  text-align: center;
  margin-bottom: 36px;
}
a:visited {
  text-decoration: none;
  outline: 0;
}

.scroll-btn2 {
  display: block;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%{
    transform:translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}

.home{
  position: relative;
  .scroll-mouse{
    position: absolute;
    bottom: 6%;
    left: 48%;
    right: 0;
    z-index: 500;
    transform: rotateX(150deg);
    i{
      font-size: 60px;
      color: #ffffff;
    }
  }
}
















.testimonial-box {
  border: 1px solid #dadada;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background: #fff;
  min-height: 300px;
}

.color{
  color: #00c1a1;
  background: #00c1a1;

}
.testimonial-box .image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--mainColor);
  // margin: -60px auto 10px auto;
  margin: auto;
  position: relative;
  z-index: 2;
}
.testimonial-box h5 {
  margin-bottom: 10px;
  font-weight: 500;}

  .star-rating {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    display:flex;

    .fa {
      display: inline-block;
      font: normal normal normal 14px / 1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #FDD300;
  }
  }

 .stars {
    color: #dadada;
    position: relative;
}

blockquote {
  margin: 0px 0px 15px;
  height: 105px;
  overflow: auto;
  border: none;
  padding: 0px;
  border: none;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid var(--mainColor);
   p {
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    font-size: 13px;
    text-align: justify;
}
}
.testimonial-box .image img {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  object-position: top;
}





.single-who-we-are{
  z-index: 1;
  padding: 30px;
  position: relative;
  margin-bottom: 25px;
  background: var(--whiteColor);
  transition: var(--transition);
  border: 1.5px dashed #eeeeee;
  :before {
    left: 0;
    bottom: 0;
    height: 0;
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    background: var(--mainColor);
    transition: var(--transition);

  }
  i{
    font-size: 50px;
    color: var(--mainColor);
    transition: var(--transition);
    position: absolute;
    top: -12%
  }
  h3{
    transition: var(--transition);
    margin-bottom: 15px;
    margin-top: 23px;
    font-size: 20px;
    font-weight: 600;
  }
  p{
    font-size: 15.5px;
    transition: var(--transition);
  }
}
