<div class="home-slides">
  <owl-carousel-o [options]="homeSlides">
      <ng-template carouselSlide>
          <div class="main-banner item-bg-two">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="container">
                          <div class="main-banner-text">
                              <h4>Experience</h4>
                              <h1>the empowered <span>learning</span></h1>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                              <a href="#about" class="btn btn-primary">Get Started</a>
                              <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="main-banner item-bg-one">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="container">
                          <div class="main-banner-text">
                              <h4>Education</h4>
                              <h1>with an enduring <span>mission</span></h1>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                              <a href="#about" class="btn btn-primary">Get Started</a>
                              <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="main-banner item-bg-three">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="container">
                          <div class="main-banner-text">
                              <h4>Educating</h4>
                              <h1>the Best minds of <span>tommorrow</span></h1>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                              <a href="#about" class="btn btn-primary">Get Started</a>
                              <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="main-banner item-bg-four">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="container">
                          <div class="main-banner-text">
                              <h4>Education</h4>
                              <h1>with an innovative <span></span></h1>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                              <!-- <a href="#about" class="btn btn-primary">Get Started</a> -->
                              <!-- <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
  </owl-carousel-o>
</div>
