
<div class="home">
  <div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div class="main-banner item-bg-two">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <!-- <h4>Experience</h4>
                                <h1>the empowered learning<span></span></h1> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#about" class="btn btn-primary">Get Started</a>
                                <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-one">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <!-- <h4>Education</h4>
                                <h1>with an enduring mission<span></span></h1> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#about" class="btn btn-primary">Get Started</a>
                                <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-three">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <!-- <h4>Educating</h4>
                                <h1>the Best minds of tommorrow<span></span></h1> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#about" class="btn btn-primary">Get Started</a>
                                <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-four">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <!-- <h4>Education</h4>
                                <h1>with an innovative difference<span></span></h1> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                                <!-- <a href="#about" class="btn btn-primary">Get Started</a> -->
                                <!-- <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
  </div>
<div class="scroll-mouse">
  <!-- <i class='bx bx-mouse  bx-rotate-90'></i> -->
  <i class='bx   bx-fade-down' > <img src="../../../assets/images/icons/mouse-cursor.svg" alt="" style="transform: rotate(180deg);"></i>

</div>
</div>
<app-about-us></app-about-us>

<!-- DAY AND RESIDENTIAL
adarshjuniorcollegevsp@gmail.com -->

<div class="section1">
  <section class="acadamic">
    <div class="container">
       <div class="section-title">
        <h2><span>Acadamic</span></h2>
        <p class="text-justify">At the life turning stage of the student community, we have been supporting them to sail through intermediate (Junior college) as a perfect platform for launching the laudable learning in the twin disciplines preparing them higher education in happening professional courses of Engineering and Medicine.</p>
    </div>
      <div class=" marketing text-center mb-5">
        <div class="row align-items-center flex-column flex-sm-column flex-column flex-lg-row flex-xl-row">
          <!-- <div class="col-6"></div> -->
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <img src="../../../assets/images/banners/new/acadamic-new-home.png" alt="" style="width: 100%; height: 100%;">
            <!-- <div class="">
            </div> -->
          </div>
          <div class="col-4 col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="d-flex flex-column ">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pb-4     ">
                <div class="single-box">
                  <!-- <i class="fa-solid fa-user"></i> -->
                  <h2 class="fw-normal">MPC</h2>
                  <p>As the key foundation for Engineering and allied Technical education...</p>
                  <p><span class="btn mt-4" routerLink="/who-we-are/company-profile" (click)="scrollToTop()">View details</span></p>
                </div>
              </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="single-box">
                <!-- <i class="fa-regular fa-lightbulb"></i> -->
              <h2 class="fw-normal">BiPC</h2>
              <p>Any  advanced study in the domain of Medicine and allied biological...</p>
              <p><a class="btn " routerLink="/who-we-are/our-leadership" (click)="scrollToTop()">View details</a></p>
              </div>
            </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- funfacts -->
  <div id="welcome" class="welcome-area ">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <!-- <div  class="single-who-we-are"><i  class="fas fa-users"></i><h3 >We are professional</h3><p >Fringilla augue at maximus vest vestibulum. Nam pulvinar vitaessst neque et porttitor. Praesent sed nis.</p><span >1</span></div>

              <div  class="single-who-we-are"><i  class="fas fa-users"></i><h3 >We are professional</h3><p >Fringilla augue at maximus vest vestibulum. Nam pulvinar vitaessst neque et porttitor. Praesent sed nis.</p><span >1</span></div>


              <div  class="single-who-we-are"><i  class="fas fa-users"></i><h3 >We are professional</h3><p >Fringilla augue at maximus vest vestibulum. Nam pulvinar vitaessst neque et porttitor. Praesent sed nis.</p><span >1</span></div> -->

                <div class="single-box">
                    <div class="icon">
                      <i class="fa-regular fa-lightbulb"></i>
                    </div>
                    <h3 class="">AN INSTITUTE <br>ESTABLISHED BY <br>EXPERIENCED <br> FACULTY</h3>
                    <!-- <p>Lorem ipsum dolor sit amet sit ipsum, consectet adipiscing elit consectetur, ipsum dolor sed do eiusmod tempor.</p> -->
                    <!-- <a (click)="onClick('about')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                      <i class="fa-regular fa-lightbulb"></i>
                    </div>
                    <h3>UTMOST CARING <br>ULTIMATE COACHING</h3>
                    <!-- <p>Lorem ipsum dolor sit amet sit ipsum, consectet adipiscing elit consectetur, ipsum dolor sed do eiusmod tempor.</p> -->
                    <!-- <a (click)="onClick('about')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                      <i class="fa-regular fa-lightbulb"></i>
                    </div>
                    <h3>DAY <br>& <br>RESIDENTIAL</h3>
                    <!-- <p>Lorem ipsum dolor sit amet sit ipsum, consectet adipiscing elit consectetur, ipsum dolor sed do eiusmod tempor.</p> -->
                    <!-- <a (click)="onClick('about')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape2"><img src="assets/img/shape1.png" alt="image"></div> -->
</div>

  <!-- <section class="funfacts">
    <div class="container">
      <div class="d-flex">
        <div class="single-box-item bg1">
          <i class="fa-regular fa-lightbulb"></i>
            <h3><a>AN INSTITUTE <br>ESTABLISHED BY <br>EXPERIENCED <br> FACULTY</a></h3>
        </div>
        <div class="single-box-item bg1">
          <i class="fa-regular fa-lightbulb"></i>
            <h3><a>UTMOST CARING <br>ULTIMATE COACHING</a></h3>
        </div>
        <div class="single-box-item bg1">
          <i class="fa-regular fa-lightbulb"></i>
            <h3><a>DAY <br>& <br>RESIDENTIAL</a></h3>
        </div>
      </div> -->

      <!-- <div class="blog-slides">
        <owl-carousel-o [options]="blogSlides">
            <ng-template carouselSlide>
                <div class="single-box-item bg1">
                  <i class="fa-regular fa-lightbulb"></i>
                    <h3><a>AN INSTITUTE ESTABLISHED BY EXPERIENCED FACULTY</a></h3>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-box-item bg2">
                  <i class="fa-regular fa-lightbulb"></i>
                    <h3><a>UTMOST CARING ULTIMATE COACHING</a></h3>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-box-item bg3">
                  <i class="fa-regular fa-lightbulb"></i>
                    <h3><a>DAY AND RESIDENTIAL</a></h3>
                </div>
            </ng-template>
        </owl-carousel-o>
      </div> -->
    <!-- </div>
  </section> -->
  <section class="competitive">
    <div class="container">
       <div class="section-title">
        <h2><span>Competitive</span></h2>
        <p>In tune with the changing times, We have developed various modules to make sure the aspiring Medical students excel in the choicest national and Regional institutions of excellence through the learning landscape of Biology, physics and chemistry added on with conceptual fornications to take an unassailable lead in this cut throat competition</p>
    </div>
      <div class=" marketing text-center mb-5">
        <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-evenly ">

        </div> -->
        <div class="d-flex justify-content-between align-items-baseline flex-column flex-sm-column  flex-lg-row flex-xl-row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
            <div class="d-flex flex-column flex-sm-column  flex-lg-row flex-xl-row  flex-column-reverse align-items-baseline">
              <div class="col-7 col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <div class="single-box">
                  <!-- <i class="fa-regular fa-lightbulb"></i> -->
                <h2 class="fw-normal">NEET</h2>
                <p>In the era of a common entrance and eligibility...</p>
                <p><a class="btn " routerLink="/who-we-are/our-leadership" (click)="scrollToTop()">View details</a></p>
                </div>
              </div>
              <div class="  col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <img src="../../../assets/images/banners/new/neet-home.png" alt="" class="single-inner-img">
              </div>
            </div>
          </div>
          <div class=" col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
            <div class="d-flex align-items-baseline flex-column flex-sm-column  flex-lg-row flex-xl-row  flex-column-reverse ">
              <div class="col-7 col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <div class="single-box">
                  <h2 class="fw-normal">IIT-JEE-Mains-Advanced</h2>
                  <p>As the gateway to e prestigious IITs...</p>
                  <p><span class="btn" routerLink="/who-we-are/company-profile" (click)="scrollToTop()">View details</span></p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <img src="../../../assets/images/banners/new/iit-home.png" alt="" style="margin-bottom: -20%;" class="single-inner-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>



<!-- <div class="scroll-btn2">

</div> -->

<!-- <app-acadamics></app-acadamics> -->
<!-- <app-competitves></app-competitves> -->
<!-- <app-gallery></app-gallery> -->


<!-- gallery start -->
<!-- <div class="partner-area ptb-70 bg-fffdfd">

  <div class="container">

      <div class="partner-slides">
          <owl-carousel-o [options]="partnerSlides">
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
          </owl-carousel-o>
      </div>
  </div>
</div> -->
<!-- gallery end -->

<section class="review">
  <div class="container">



    <div class="blog-slides">
      <h4 class="text-center" style="font-weight: 600; font-size: 30px; font-family: Agenor;">STUDENT'S TESTIMONIALS</h4>
      <owl-carousel-o [options]="reviewSlides">
        <ng-template carouselSlide>
          <!-- <div class="single-blog-item bg1">
              <span><img src="../../../assets/images/icons/AWATAR/Female-Avatar-01.png" alt=""></span>
              <!-- <h3><a routerLink="/blog-details">The best gear for starting a small business</a></h3> >
              <p> In my experience all the Faculties are very supportive and friendly and the placement process has been very smooth throughout. I would always be very grateful for the lifelong connections I made.</p>
          </div> -->
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Male-Avatar-05.png" alt="">
              </figure>

            <h5 class="text-center">Aadhya Chaturvedi</h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>"My experience at Sharda University is great and memorable. The mentors at Sharda University helped us enhance my academic and interpersonal skills. I am thankful to Training &amp; Placement cell for providing a platform to enhance my skills and an opportunity to showcase them. In the last I am saying that The World is here at Sharda University."</p><p></p>
            </blockquote>
          </div>
        </ng-template>
          <!-- <ng-template carouselSlide>
            <div class="single-blog-item bg1">
                <span><img src="../../../assets/images/icons/AWATAR/Female-Avatar-02.png" alt=""></span>

                <p>"My experience at Adarsh is great and memorable. The mentors at Adarsh helped us enhance my academic and interpersonal skills. I am thankful to Training & Placement cell for providing a platform to enhance my skills and an opportunity to showcase them. In the last I am saying that The World is here at Adarsh Junior College."</p>
            </div>
          </ng-template> -->
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Female-Avatar-02.png" alt="">
              </figure>

            <h5 class="text-center">Adeeba Fatima</h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>In my experience all the Faculties are very supportive and friendly and the placement process has been very smooth throughout. I would always be very grateful for the lifelong connections I made.
              </p><p></p>
            </blockquote>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Male-Avatar-06.png" alt="">
              </figure>

            <h5 class="text-center">Aakash Sharma</h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>"My experience at Adarsh is great and memorable. The mentors at Adarsh helped us enhance my academic and interpersonal skills. I am thankful to Training & Placement cell for providing a platform to enhance my skills and an opportunity to showcase them. In the last I am saying that The World is here at Adarsh Junior College."</p><p></p>
            </blockquote>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Female-Avatar-01.png" alt="">
              </figure>

            <h5 class="text-center">Harshita Sachdeva            </h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>“It was a great experience studying at Adarsh Junior College, a memory to cherish for lifetime. My experience at Adarsh was full of learning and grooming. I am thankful to all the faculties, mentors and entire SET department for providing us with quality education.</p><p></p>
            </blockquote>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Male-Avatar-07.png" alt="">
              </figure>

            <h5 class="text-center">Md Suyaib Ahmad</h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>It was my immense luck and fortune to be the part of Adarsh junior College where I can grow. The entire faculty and department leaves no stone unturned to shape one's future.</p><p></p>
            </blockquote>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Female-Avatar-03.png" alt="">
              </figure>

            <h5 class="text-center">Aditi Semwal</h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>Adarsh Junior College has been a great contributor to the development of my personality. I have established my leadership, time management and team skills. The professors here make the Adarsh what it is today. With an attitude of being ever ready to help, and not only delivering classroom teachings, but they are also the pillars of the learning gained and this is a treasure for life.</p><p></p>
            </blockquote>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Male-Avatar-07.png" alt="">
              </figure>

            <h5 class="text-center">Nitin Jangir</h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>It was full of learning and grooming oneself. It gave me an opportunity to meet different kind of people and learned many things. I am thankful to all the faculties, Overall it was a great experience and lifetime memory at Adarsh.</p><p></p>
            </blockquote>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Female-Avatar-04.png" alt="">
              </figure>

            <h5 class="text-center">Subina Adhikari</h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>Adarsh Junior College is a place where you can find an amalgamation of learning. I feel  great studying at Adarsh as it gives great Skills as well as support from faculties. </p><p></p>
            </blockquote>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Male-Avatar-08.png" alt="">
              </figure>

            <h5 class="text-center">Ishan Sharma</h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>Adarsh Junior College is great place to learn. It gives me great to say with pride that I have completed my Course  in this Adarsh junior college. The relationship between facilities and student is very good.
              </p><p></p>
            </blockquote>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Female-Avatar-02.png" alt="">
              </figure>

            <h5 class="text-center">Ekta Kumari
            </h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>My experience at Adarsh Junior College is great and memorable. The teachers and mentors are really helpful and helped me to improve my academic and interpersonal skills.
              </p><p></p>
            </blockquote>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-box">
            <div class=" color color-theme2"></div>
              <figure class="image">
                <img src="../../../assets/images/icons/AWATAR/Male-Avatar-05.png" alt="">
              </figure>

            <h5 class="text-center">Shubham Roy</h5>
              <!-- Star Rating -->
              <div class="star-rating" title="100%">
                <div class="back-stars clearfix">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- /Star Rating -->
            <blockquote>
              <p>Sharda University has always believed in helping and guiding its students. Regular classes held at our college to help us with our aptitude and technical skills were of great help.In my experience all the Faculties are very supportive and friendly and the placement process has been very smooth throughout. I would always be very grateful for the lifelong connections I made.</p><p></p>
            </blockquote>
          </div>
        </ng-template>

      </owl-carousel-o>
    </div>
  </div>
</section>
<app-blog></app-blog>
<app-contact-us></app-contact-us>

<!-- <i class='bx bxs-like bx-fade-down'></i> -->
