
<div class="home">
  <div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div class="main-banner item-bg-two">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <!-- <h4>Experience</h4>
                                <h1>the empowered learning<span></span></h1> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#about" class="btn btn-primary">Get Started</a>
                                <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-one">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <!-- <h4>Education</h4>
                                <h1>with an enduring mission<span></span></h1> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#about" class="btn btn-primary">Get Started</a>
                                <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-three">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <!-- <h4>Educating</h4>
                                <h1>the Best minds of tommorrow<span></span></h1> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#about" class="btn btn-primary">Get Started</a>
                                <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner item-bg-four">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <!-- <h4>Education</h4>
                                <h1>with an innovative difference<span></span></h1> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                                <!-- <a href="#about" class="btn btn-primary">Get Started</a> -->
                                <!-- <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
  </div>

</div>
<app-about-us></app-about-us>

<!-- DAY AND RESIDENTIAL
adarshjuniorcollegevsp@gmail.com -->

<div class="section1">
  <section class="acadamic">
    <div class="container">
       <div class="section-title">
        <h2><span>Acadamic</span></h2>
        <p>At the life turning stage of the student community, we have been supporting them to sail through intermediate (Junior college) as a perfect platform for launching the laudable learning in the twin disciplines preparing them higher education in happening professional courses of Engineering and Medicine.</p>
    </div>
      <div class=" marketing text-center mb-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-evenly ">
            <div class="col-lg-4">
              <div class="single-box">
                <!-- <i class="fa-solid fa-user"></i> -->
                <h2 class="fw-normal">MPC</h2>
                <p>As the key foundation for Engineering and allied Technical education...</p>
                <p><span class="btn" routerLink="/who-we-are/company-profile" (click)="scrollToTop()">View details</span></p>
              </div>
            </div>
          <div class="col-lg-4">
            <div class="single-box">
              <!-- <i class="fa-regular fa-lightbulb"></i> -->
            <h2 class="fw-normal">BiPC</h2>
            <p>Any  advanced study in the domain of Medicine and allied biological...</p>
            <p><a class="btn " routerLink="/who-we-are/our-leadership" (click)="scrollToTop()">View details</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="funfacts">
    <div class="container">
      <div class="blog-slides">
        <owl-carousel-o [options]="blogSlides">
            <ng-template carouselSlide>
                <div class="single-blog-item bg1">
                    <h3><a routerLink="/blog-details">AN INSTITUTE ESTABLISHED BY EXPERIENCED FACULTY</a></h3>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-blog-item bg2">
                    <h3><a routerLink="/blog-details">UTMOST CARING ULTIMATE COACHING</a></h3>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-blog-item bg3">
                    <h3><a routerLink="/blog-details">మీ పిల్లల బంగారు  భవిష్యత్తు కై...</a></h3>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-blog-item bg3">
                    <h3><a routerLink="/blog-details">DAY AND RESIDENTIAL</a></h3>
                </div>
            </ng-template>

        </owl-carousel-o>
      </div>
    </div>
  </section>
  <section class="competitive">
    <div class="container">
       <div class="section-title">
        <h2><span>Competitive</span></h2>
        <p>In tune with the changing times, We have developed various modules to make sure the aspiring Medical students excel in the choicest national and Regional institutions of excellence through the learning landscape of Biology, physics and chemistry added on with conceptual fornications to take an unassailable lead in this cut throat competition</p>
    </div>
      <div class=" marketing text-center mb-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-evenly ">

          <div class="col-lg-4">
            <div class="single-box">
              <!-- <i class="fa-regular fa-lightbulb"></i> -->
            <h2 class="fw-normal">NEET</h2>
            <p>In the era of a common entrance and eligibility for the Medical...</p>
            <p><a class="btn " routerLink="/who-we-are/our-leadership" (click)="scrollToTop()">View details</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-box">
              <!-- <i class="fa-solid fa-user"></i> -->
              <h2 class="fw-normal">IIT-JEE-Mains-Advanced</h2>
              <p>As the gateway to e prestigious IITs, there is an ever increasing...</p>
              <p><span class="btn" routerLink="/who-we-are/company-profile" (click)="scrollToTop()">View details</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<!-- <app-acadamics></app-acadamics> -->
<!-- <app-competitves></app-competitves> -->
<!-- <app-gallery></app-gallery> -->


<!-- gallery start -->
<!-- <div class="partner-area ptb-70 bg-fffdfd">

  <div class="container">

      <div class="partner-slides">
          <owl-carousel-o [options]="partnerSlides">
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="partner-item">
                      <a href="#" target="_blank"><img src="../../../assets/images/banners/partner-1.png" alt="partner"></a>
                  </div>
              </ng-template>
          </owl-carousel-o>
      </div>
  </div>
</div> -->
<!-- gallery end -->
<app-blog></app-blog>
<app-contact-us></app-contact-us>
