.about-area{
  // background-image: url(../../../assets/images/banners/bg1.jpg);
  .about-bg{

    background-image: url(../../../assets/images/banners/about-us-bg.jpg);
    padding: 40px;
    border-radius: 20px;
  }
  .about-video{
    img{
      margin-top: -10%;
    }
  }

}

// @media (max-width:768px){
//   .about-area{
//     .row{
//       flex-direction: column-reverse;
//     }
//   }
// }
