.about-area{
  // background-image: url(../../../assets/images/banners/bg1.jpg);
  .about-bg{

    background-image: url(../../../..//assets/images/banners/about-us-bg.jpg);
    padding: 40px 40px 0;
    border-radius: 20px;
  }

}
p{
  font-size: 14px;
}
.about-content{
  margin-left: 2rem;

}
.section-title{
  margin: 0 !important;
}

@media (max-width:768px){
  .about-content{
    margin-left: 0rem;
  }
}
