
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="section-title">
      <h2><span>Acadamic</span></h2>
      <p>At the life turning stage of the student community, we have been supporting them to sail through intermediate (Junior college) as a perfect platform for launching the laudable learning in the twin disciplines preparing them higher education in happening professional courses of Engineering and Medicine.</p>
  </div>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">MPC</text></svg>
          <div class="card-body">
            <p class="card-text">As the key foundation for Engineering and allied Technical education, it is imperative to make a mark in the combination...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/mpc">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">BiPC</text></svg>
          <div class="card-body">
            <p class="card-text">Any  advanced study in the domain of Medicine and allied biological sciences needs a thorough understanding...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/bipc">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

