<div class="contact-banner item-bg-contact">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="main-banner-text">
                  <!-- <h4>Experience</h4>
                  <h1>the empowered learning<span></span></h1> -->
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <a href="#about" class="btn btn-primary">Get Started</a>
                  <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a> -->
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <app-contact-us></app-contact-us> -->


<div class="contact-list pd-top-120 pd-bottom-90">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-4">
              <div class="contact-list-inner">
                  <div class="media">
                      <div class="media-left col-6">
                          <!-- <img src="../../../../assets/images/icons/keypad.png" alt="img"> -->
                          <i class="fa-solid fa-phone"></i>
                      </div>
                      <div class="media-body align-self-center">
                          <h5>Our Contact</h5>
                          <p>+91 81436 56001, +91 81436 56002
                            </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contact-list-inner">
                  <div class="media">
                      <div class="media-left col-6">
                          <!-- <img src="../../../../assets/images/icons/mail.png" alt="img"> -->
                          <i class="fa-solid fa-envelope"></i>
                      </div>
                      <div class="media-body align-self-center">
                          <h5>Our Email</h5>
                          <p>adarshjuniorcollegevsp@gmail.com</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contact-list-inner">
                  <div class="media">
                      <div class="media-left col-6">
                          <!-- <img src="../../../../assets/images/icons/location.png" alt="img"> -->
                          <i class="fa-solid fa-location-dot"></i>
                      </div>
                      <div class="media-body align-self-center">
                          <h5>Our Address</h5>
                          <p>Door number: 9-26-2, 2nd Floor,
                            Area: Bamboo Bay, CBM Compound,
                            Land mark: C Gate, Asilmetta, Visakhapatnam,
                            Andhra Pradesh, Pincode: 530003</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="counter-area pd-bottom-120">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="section-title1 mb-0">
                  <h6 class="sub-title right-line">Get in touch</h6>
                  <h2 class="title">Write Us a Message</h2>
                  <p class="content pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos repudiandae labore inventore recusandae temporibus, amet earum ducimus, vel accusamus porro magnam animi dolorem beatae enim, nulla eligendi in cupiditate quidem? </p>
                  <ul class="social-media style-base pt-3">
                      <li>
                          <a href="https://www.facebook.com/people/Adarsh-Junior-College/61560272505893/"><i class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li>
                          <a href="https://www.instagram.com/adarshjrvsp/?igsh=MWIzbm90MGRoMGZibQ%3D%3D"><i class="fa-brands fa-instagram"></i></a>
                      </li>
                      <li>
                          <a href="https://www.youtube.com/channel/UCB6NpFv0i8_6l4TyIuGrx9Q"><i class="fa-brands fa-youtube"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-8 mt-5 mt-lg-0">
              <form class="contact-form-inner  mt-5 mt-md-0" action="mail.php" method="post" id="contact-form">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="single-input-inner style-bg-border">
                              <input type="text" placeholder="First Name" name="first-name">
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="single-input-inner style-bg-border">
                              <input type="text" placeholder="Last Name" name="last-name">
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="single-input-inner style-bg-border">
                              <input type="text" placeholder="Email" name="email">
                          </div>
                      </div>

                      <div class="col-6">
                          <div class="single-input-inner style-bg-border">
                              <input type="text" placeholder="Subject" name="subject">
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="single-input-inner style-bg-border">
                              <textarea placeholder="Message" name="message"></textarea>
                          </div>
                      </div>
                      <p class="form-messege mb-0 mt-20 text-center"></p>
                      <div class="col-12">
                          <button type="submit" class="btn btn-base">Send Message</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="" style="height: 500px; width: 100%; padding-bottom: 20px; " >
  <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3800.4129083897524!2d83.30748227517272!3d17.725173283220773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTfCsDQzJzMwLjYiTiA4M8KwMTgnMzYuMiJF!5e0!3m2!1sen!2sin!4v1732775502598!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

