/* You can add global styles to this file, and also import other style files */
/*==============================
Default CSS
==============================*/


:root {
  --fontFamily: 'Poppins', sans-serif;
  --mainColor: #203E78;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --transition: .5s;
}
@font-face {
  font-family: 'Agenor';
  src: url('./assets/images/fonts/Agenor-FONTS/Agenor-Regular.ttf');
}
@font-face {
  font-family: 'Lexend';
  src: url('./assets/images/fonts/Lexend/Lexend-VariableFont_wght.ttf');
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

// .rubik-<uniquifier> {
//   font-family: "Rubik", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
margin-bottom: 0;
  font-weight: 400;
  color: var(--blackColor);
line-height: 1;
}
ul {
  padding-left: 0;
  margin-bottom: 0;

  li {
      list-style: none;
  }
}
:focus {
  outline: 0 !important;
}
p {
margin-bottom: 0;
line-height: 1.8;
// color: #727695;

}
a {
  cursor: pointer;
color: #222222;
text-decoration: none;
  transition: var(--transition);

  &:hover, &:focus {
      color: var(--mainColor);
    text-decoration: none;
  }
}
img {
  max-width: 100%;
}
.ptb-100 {
  padding: {
      bottom: 50px;
      top: 50px;
  }
}
.pt-100 {
  padding: {
      top: 100px;
  }
}
.pb-100 {
  padding: {
      bottom: 100px;
  }
}
.ptb-70 {
  padding: {
      top: 70px;
      bottom: 70px;
  }
}
.pt-70 {
  padding: {
      top: 70px;
  }
}
.pb-70 {
  padding: {
      bottom: 70px;
  }
}
.d-table {
width: 100%;
  height: 100%;

  &-cell {
      vertical-align: middle;
  }
}
.bg-fffdfd {
  background: #fffdfd;
}
.bg-F7F5F4 {
  background-color: #F7F5F4;
}
.ml-auto {
  margin-left: auto;
}
/*Btn Btn-Primary*/
.btn {
padding: 10px 30px;
border-radius: 30px;
  transition: var(--transition);
  font: {
      size: 16px;
      weight: 500;
  };
}
.btn-primary {
color: var(--whiteColor);
background-color: var(--mainColor);
  border-color: var(--mainColor);

  &:hover, &:focus, &.disabled:hover, &.disabled:focus {
      color: var(--mainColor);
    background-color: var(--whiteColor);
    border-color: var(--mainColor);
  }
  &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
      color: var(--whiteColor);
    background-color: var(--mainColor);
    border-color: var(--mainColor);
  }
  &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus {
      box-shadow: none;
  }
  &.focus, &:focus {
      box-shadow: none;
  }
  &.disabled, &:disabled {
      color: var(--whiteColor);
      background-color: var(--mainColor);
      border-color: var(--mainColor);
      opacity: 1;
  }
}
/* Section Title */
.section-title {
margin-bottom: 30px;
padding-left: 30px;
  position: relative;

  &::before, &::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      left: 10px;
      top: 0;
      background: var(--mainColor);
      transition: var(--transition);
  }
  &::after {
      // left: 0;
      left: 4px;
      height: 50%;
  }
  &:hover::before {
      height: 50%;
  }
  &:hover::after {
      height: 100%;
  }
  h2 {
      margin-bottom: 20px;
      font: {
          size: 40px;
          weight: 400;
      }
      span {
          color: var(--mainColor);
          font-weight: 600;
      }
  }
  p {
      // max-width: 635px;
      text-align: justify;
      margin-top: -7px;
      font-size: 14px;
  }
  h4 {
      color: var(--mainColor);
      margin-bottom: 14px;
      text-transform: capitalize;
      font: {
          size: 17px;
          weight: 400;
      }
  }
}
/* Form Control */
.form-control {
height: 45px;
padding: 10px;
font-size: 15px;
background-color: var(--whiteColor);
border: 1px solid #eeeeee;
  border-radius: 0;

  &:focus {
      border-color: #dddddd;
    outline: 0;
    box-shadow: none;
  }
}
textarea.form-control {
  height: auto;
}
/* Owl Carousel Button */
.owl-theme {
  .owl-dots {
      .owl-dot {
          span {
              width: 10px;
              height: 10px;
              margin: 0 4px;
              background: transparent;
              border-radius: 50%;
              border: 2px solid #dddddd;
              transition: var(--transition);
          }
          &.active {
              span {
                  background: #869791;
                  border-radius: 5px;
                  width: 28px;
                  height: 8px;
                  border-color: var(--mainColor);
                  background: var(--mainColor);
              }
          }
          &:hover {
              span {
                  background: var(--mainColor);
                  border-color: var(--mainColor);
              }
          }
      }
  }
}

/*==============================
Preloader CSS
==============================*/
.preloader {
position: fixed;
width: 100%;
height: 100%;
background: var(--whiteColor);
  z-index: 99999;

  .folding-cube {
      left: 0;
      width: 60px;
      height: 60px;
      position: absolute;
      transform: rotateZ(45deg);
      top: 50%;
      right: 0;
      margin: -60px auto 0;

      .cube {
          float: left;
          width: 50%;
          height: 50%;
          position: relative;
          transform: scale(1.1);

          &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: var(--mainColor);
              animation: sk-foldCubeAngle 2.4s infinite linear both;
              transform-origin: 100% 100%;
          }
      }
      .cube2 {
          transform: scale(1.1) rotateZ(90deg);

          &::before {
              animation-delay: 0.3s;
          }
      }
      .cube3 {
          transform: scale(1.1) rotateZ(180deg);

          &::before {
              animation-delay: 0.6s;
          }
      }
      .cube4 {
          transform: scale(1.1) rotateZ(270deg);

          &::before {
              animation-delay: 0.9s;
          }
      }
  }
}
@keyframes sk-foldCubeAngle {
0%, 10% {
  transform: perspective(140px) rotateX(-180deg);
  opacity: 0;
}
25%, 75% {
  transform: perspective(140px) rotateX(0deg);
  opacity: 1;
}
90%, 100% {
  transform: perspective(140px) rotateY(180deg);
  opacity: 0;
}
}

/*==============================
Main Header CSS
==============================*/
.navbar {
// top: 0;
// left: 0;
// z-index: 2;
// width: 100%;
// position: fixed !important;
// background: transparent !important;
// background: #ffffff47 !important;
// background: #ffff !important;
// background: var(--mainColor) !important;

// &.sticky-box-shadow {
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 999;
//     position: fixed !important;
//     background: var(--whiteColor) !important;
//     box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
//     animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
//     padding: {
//         top: 20px;
//         bottom: 20px;
//     };
// }


// position: sticky; /* Stick to the top */
// top: 0;
// z-index: 1000;
// transition: all 0.3s ease-in-out;

//   padding: {
//       top: 10px;
//       bottom: 10px;
//   };
//   &.bg-light {
//     background-color: blue !important; /* Default color */
//   }

//   &.bg-light.scrolled {
//     background-color: red !important; /* Color when scrolled */
//     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
//   }

//   .brandlogo1 {
//     height: 40px; /* Adjust logo size */
//     transition: all 0.3s ease-in-out;
//   }

//   &.scrolled .brandlogo1 {
//     height: 30px; /* Shrink logo on scroll */
//   }
position: sticky; /* Sticky navbar */
top: 0;
z-index: 1000;
transition: all 0.3s ease-in-out;

&.bg-light {
  background-color: #ffffff !important; /* Default color */
}

&.bg-light.scrolled {
  // background-color: var(--mainColor) !important; /* Scrolled navbar color */
  background-color: #002147 !important; /* Scrolled navbar color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: 0 2px 28px #0000000f
}

/* Navbar Items */
.navbar-nav .nav-link {
  color: var(--mainColor) !important; /* Default nav text color */
  transition: color 0.3s ease-in-out;
}

// .dropdown-menu {
//   background-color: var(--mainColor) !important;
//   li a{
//     color: var(--whiteColor) !important;
//   }
// }
&.scrolled .navbar-nav .nav-link {
  color: var(--whiteColor) !important; /* Scrolled nav text color */

  .dropdown-menu {

    li a{
      color: #203E78;
    }
  }
//   .navbar-light .navbar-nav .nav-item .nav-link

// &::before {
//       content: "";
//       position: absolute;
//       left: 0;
//       bottom: 0;
//       width: 100%;
//       height: 2px;
//       background-color: var(--mainColor) !important;
//       transition: var(--transition);
//       // transform: scaleX(0);
//   }

}

&.scrolled .dropdown-menu li a{
  color: #203E78 !important;
}

&.scrolled .navbar-nav .nav-item .nav-link::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #FDD300 !important;
      transition: var(--transition);
      // transform: scaleX(0);
  }

/* Navbar Logos */
.brandlogo1, .brandlogo2 {
  // height: 40px;
  transition: all 0.3s ease-in-out;
}

&.scrolled .brandlogo1 {
  display: none; /* Hide the blue navbar logo */
}

&.scrolled .brandlogo2 {
  display: inline-block; /* Show the red navbar logo */
}

.brandlogo1 {
  display: inline-block; /* Default state logo */
}

.brandlogo2 {
  display: none; /* Hidden by default */
}

 /* Responsive Burger Menu */
 .burger-menu {
  // display: flex;
  // flex-direction: column;
  // gap: 5px;

  // span {
  //   display: block;
  //   height: 3px;
  //   width: 30px;
  //   background-color: #ffffff; /* Default burger menu color */
  //   transition: background-color 0.3s ease-in-out;
  // }

  .top-bar, .middle-bar, .bottom-bar {
    background-color: var(--mainColor); /* Default color for span items */
  }

  &.scrolled {
    .top-bar, .middle-bar, .bottom-bar {
      background-color: #ffff; /* Scrolled burger menu color */
    }
  }
}

&.scrolled .burger-menu span {
  background-color: #ffffff !important; /* Change color when navbar is scrolled */
}


}
.navbar-light {
  .navbar-brand {
      color: var(--whiteColor);
      text-transform: uppercase;
      line-height: 10px;
      transition: var(--transition);
      font: {
          size: 23px;
          weight: 600;
      }
      span {
          color: var(--mainColor);
          line-height: 10px;
          text-transform: lowercase;
          transition: var(--transition);
          font: {
              size: 40px;
              weight: 700;
          }
      }
      &:focus, &:hover {
          color: var(--whiteColor);
      }
  }
  .navbar-nav {
      .nav-item {
          padding: {
              right: 15px;
              left: 15px;
              top: 0;
              bottom: 0;
          };
          &:last-child {
              padding-right: 0;
          }
          &:first-child {
              padding-left: 0;
          }
          .nav-link {
              color: var(--whiteColor);
              // color: var(--mainColor);
              position: relative;
              cursor: pointer;
              // font-weight: 500;
              font-weight: 600;
              transition: var(--transition);
              padding: {
                  right: 0;
                  left: 0;
                  top: 0;
                  bottom: 0;
              };
              &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 2px;
                  // background-color: var(--mainColor);
                  background-color: var(--mainColor);
                  // background-color: #FDD300;

                  transition: var(--transition);
                  transform: scaleX(0);
              }
              &.active, &:hover, &:focus {
                  // color: var(--mainColor);
                  color: #FDD300;

                  &::before {
                      transform: scaleX(1);
                  }
              }
          }
      }
      &.for-responsive {
          display: none;
      }
  }
  &.sticky-box-shadow {
      .navbar-brand {
          color: var(--blackColor);
      }
      .navbar-nav {
          .nav-link {
              color: var(--blackColor);

              &.active, &.show, &:hover, &:focus {
                  color: var(--mainColor);
              }
          }
          .active, .show {
              .nav-link {
                  color: var(--mainColor);
              }
          }
      }
  }
}
// Mobile and iPad Navbar
@media only screen and (max-width: 991px) {

  .navbar {
      padding: {
          top: 15px;
          bottom: 15px;
      };
  }

  .scrolled{
    .for-responsive {
      background-color: #203E78 !important;
    }
  }
  // .navbar-light .navbar-nav{

  // }


  .navbar-light {
      .navbar-nav {
          background-color: var(--whiteColor);
          padding: 10px 20px;
          margin-top: 10px;
          margin-bottom: 20px;
          display: none;

          .nav-item {
              padding: {
                  left: 0;
                  right: 0;
                  top: 10px;
                  bottom: 10px;
              };
              .nav-link {
                  color: var(--blackColor);
                  display: inline-block;

                  &.active, &:hover {
                      color: var(--mainColor);
                  }
              }
          }
          &.for-responsive {
              display: block !important;

          }
      }
      .navbar-toggler {
          color: var(--whiteColor);
          font-size: inherit;
          box-shadow: unset;
          border: none;
          padding: 0;

          .burger-menu {
              cursor: pointer;

              span {
                  height: 2px;
                  width: 30px;
                  margin: 6px 0;
                  display: block;
                  // background: var(--whiteColor);
                  background-color: #203E78;
              }
          }
      }
      &.active {
          .navbar-toggler {
              .burger-menu {
                  span {
                      &.top-bar {
                          transform: rotate(45deg);
                          transform-origin: 10% 10%;
                      }
                      &.middle-bar {
                          opacity: 0;
                      }
                      &.bottom-bar {
                          transform: rotate(-45deg);
                          transform-origin: 10% 90%;
                          margin-top: 5px;
                      }
                  }
              }
          }
          .collapse:not(.show) {
              display: block;
          }
      }
      &.sticky-box-shadow {
          .navbar-nav {
              border: 1px solid #eeeeee;
          }
          .navbar-toggler {
              color: var(--blackColor);

              .burger-menu {
                  span {
                      background: var(--blackColor);
                  }
              }
          }
      }
  }

}

/*==============================
Main Banner CSS
==============================*/
.main-banner {
height: 850px;
// height: 1080px;
position: relative;
// top: 10vh;
  overflow: hidden;
  background: {
      position: center center;
      size: cover;
      repeat: no-repeat;
  };
  &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // background: var(--blackColor);
      opacity: .58;
  }
  &.gradient-bg {
      &::before {
          background: linear-gradient(90deg, #232021 0, #0093c8);
          opacity: .80;
      }
  }
}

.item-bg-one {
background-image: url(./assets/images/banners/Landing-1.jpg);
}
.item-bg-two {
background-image: url(./assets/images/banners/Landing-2.jpg);
}
.item-bg-three {
background-image: url(./assets/images/banners/Landing-3.jpg);
}
.item-bg-four {
  background-image: url(./assets/images/banners/Landing-4.jpg);
  }
.main-banner-text {
  position: relative;
  text-align: center;
  z-index: 1;
  // background-color: #ffffff38;

  h4 {
      color: var(--whiteColor);
      font: {
          weight: 400;
          size: 54px;
      };
  }
  h1 {
      color: var(--whiteColor);
      margin: {
          top: 30px;
          bottom: 30px;
      };
      font: {
          weight: 400;
          size: 55px;
      };
      span {
            // color: #203E78;
          // color: #ff2c57;
          font-weight: 600;
      }
      ngx-typed-js {
          display: inline-block;

          div {
              display: inline-block;

              span {
                  display: inline-block;
              }
          }
      }
  }
  p {
      color: var(--whiteColor);
      max-width: 650px;
      font-size: 15.5px;
      margin: {
          left: auto;
          right: auto;
          bottom: 30px;
      };
  }
  .btn {
      margin: {
          left: 7px;
          right: 7px;
      };
      &:hover, &:focus {
          border-color: var(--whiteColor);
      }
  }
  .view-work {
      background: transparent;
      border-color: var(--whiteColor);

      &:hover, &:focus {
          border-color: var(--mainColor);
          background: var(--mainColor);
          color: var(--whiteColor);
      }
  }
  &.text-start {
      p {
          margin: {
              left: 0;
              right: 0;
          };
      }
  }
  &.text-end {
      p {
          margin: {
              left: auto;
              right: 0;
          };
      }
  }
}
.home-slides {
  .owl-theme {
      .owl-nav {
          margin-top: 0;
          transition: var(--transition);
          opacity: 0;
          visibility: hidden;

          [class*="owl-"] {
              position: absolute;
              left: 40px;
              top: 50%;
              transform: translateY(-50%);
              background: rgba(255,255,255,0.33);
              width: 55px;
              margin: 0;
              padding: 0;
              text-align: center;
              height: 55px;
              line-height: 58px;
              border-radius: 50%;
              font-size: 25px;
              color: var(--whiteColor);
              transition: var(--transition);

              &.owl-next {
                  left: auto;
                  right: 40px;
              }
              &:hover {
                  background: var(--mainColor);
                  color: var(--whiteColor);
              }
          }
      }
      &:hover {
          .owl-nav {
              opacity: 1;
              visibility: visible;
          }
      }
  }
}
.shape2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.shape3 {
  position: absolute;
  right: 50px;
  bottom: 0;
}


/*==============================
Welcome Area CSS
==============================*/
.welcome-area {
  position: relative;
  z-index: 1;
  background-color: gray;
height: 200px;
padding: 48px 0;
}
.single-box {
text-align: center;
box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
padding: 10px 20px;
  position: relative;
  // overflow: hidden;
  transition: var(--transition);
  // margin-bottom: 30px;
  background-color: #fff;
height: 100%;
border-radius: 3px;
  .icon {
      // color: var(--mainColor);
      // font-size: 25px;
      // width: 65px;
      // border: 1px dashed var(--mainColor);
      // height: 65px;
      // position: relative;
      // border-radius: 3px;
      // transition: var(--transition);
      // margin: {
      //     left: auto;
      //     right: auto;
      // };
      color: var(--whiteColor);
    font-size: 25px;
    width: 50px;
    border: 1px solid var(--mainColor);
    height: 50px;
    position: relative;
    border-radius: 50%;
    background-color: var(--mainColor);
    transition: var(--transition);
    margin-left: auto;
    margin-right: auto;
  margin-top: -12%;
      i {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
      }
  }
  h3 {
      transition: var(--transition);
      margin: {
          top: 14px;
          bottom: 2px;
      }
      font: {
          weight: 600;
          size:18px;
      }
  }
  p {
      transition: var(--transition);
      font-size: 15.5px;
  }
  .link-btn {
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 45px;
      height: 40px;
      line-height: 44px;
      text-align: center;
      box-shadow: 0 0 25px 0 rgba(0, 27, 103, 0.2);
      border-radius: 50% 0 0 0;
      opacity: 0;
      visibility: hidden;
  }
  &:hover {
      transform: translateY(-5px);
      background-color: var(--mainColor);

      .icon {
          background-color: var(--whiteColor);
          border-color: var(--whiteColor);
          color: var(--mainColor);
      }
      h3 {
          color: var(--whiteColor);
      }
      p {
          color: var(--whiteColor);
      }
      .link-btn {
          background: var(--whiteColor);
          color: var(--mainColor);
          opacity: 1;
          visibility: visible;
          right: 0;
      }
  }
}


/*==============================
About Area CSS
==============================*/
.about-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg {
  background-image: url(./assets/images/banners/About-Us.jpg);
  // margin-top: 100px;

  }


.about-area {
  position: relative;
  z-index: 1;
  background: {
      // image: url(./assets/images/banners/shape1.png);
      // image: url(./assets/images/);
      position: center center;
      size: cover;
      repeat: no-repeat;
  };
}
.about-content {
  .section-title {
      margin-bottom: 20px;
      padding-left: 0;

      &::before, &::after {
          display: none;
      }
      h2 {
          font-size: 23px;
      }
      p {
          font-size: 14px;
      }
  }
  .features-section{
    width: 100%;
      background: #ffff;
      padding: 20px 20px 15px 20px;
      border-radius: 3px;
    .list-title{
      font-size: 15px;
      margin: 1rem;
    }
    .features-list {
        margin-bottom: 10px;
        // display: flex;
        // flex-wrap: wrap;



        li {
            margin-bottom: 10px;
            // color: #727695;
            flex: 0 0 50%;
            // max-width: 50%;
            font: {
                size: 14px;
            };
            i {
                color: var(--mainColor);
                margin-right: 7px;
            }
        }
    }
  }

}
.about-video1 {
  position: relative;

  img{
    width: 500px;
    height: 620px;
  }

  .video-btn {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);

      button {
          position: relative;
          display: inline-block;
          width: 90px;
          height: 90px;
          border: none;
          transition: var(--transition);
          line-height: 92px;
          background-color: var(--whiteColor);
          border-radius: 50%;
          color: var(--mainColor);
          z-index: 1;
          font-size: 35px;

          &::after, &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: -1;
              bottom: 0;
              left: 0;
              border-radius: 50%;
              border: 1px solid var(--whiteColor);
          }
          &::before {
              animation: ripple 2s linear infinite
          }
          &::after {
              animation: ripple 2s linear 1s infinite
          }
          &:hover {
              background-color: var(--mainColor);
              color: var(--whiteColor);
          }
      }
  }
}
@keyframes pulse-border {
0% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity:1;
}
100% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
  opacity:0;
}
}
@keyframes ripple {
  0% {
      transform: scale(1)
  }
  75% {
      transform: scale(1.75);
      opacity: 1
  }
  100% {
      transform: scale(2);
      opacity: 0
  }
}



/*==============================
Academic Area CSS
==============================*/

.acadamics-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg-acadamics {
  background-image: url(./assets/images/banners/Acadamic-Banner2.jpg);
  // margin-top: 100px;
  }
.acadamics-area {
  position: relative;
  z-index: 1;
  background: {
      // image: url(./assets/images/banners/about.jpg);
      position: center center;
      size: cover;
      repeat: no-repeat;
  };
}
.acadamics-content {
  .section-title {
      margin-bottom: 20px;
      padding-left: 0;

      &::before, &::after {
          display: none;
      }
      h2 {
          font-size: 23px;
      }
      p {
          font-size: 15.5px;
      }
  }
  .features-list {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;

      li {
          margin-bottom: 10px;
          color: #727695;
          flex: 0 0 50%;
          max-width: 50%;
          font: {
              size: 15.5px;
          };
          i {
              color: var(--mainColor);
              margin-right: 7px;
          }
      }
  }
}
.acadamics-video {
  position: relative;

  .video-btn {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);

      button {
          position: relative;
          display: inline-block;
          width: 90px;
          height: 90px;
          border: none;
          transition: var(--transition);
          line-height: 92px;
          background-color: var(--whiteColor);
          border-radius: 50%;
          color: var(--mainColor);
          z-index: 1;
          font-size: 35px;

          &::after, &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: -1;
              bottom: 0;
              left: 0;
              border-radius: 50%;
              border: 1px solid var(--whiteColor);
          }
          &::before {
              animation: ripple 2s linear infinite
          }
          &::after {
              animation: ripple 2s linear 1s infinite
          }
          &:hover {
              background-color: var(--mainColor);
              color: var(--whiteColor);
          }
      }
  }
}
@keyframes pulse-border {
0% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity:1;
}
100% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
  opacity:0;
}
}
@keyframes ripple {
  0% {
      transform: scale(1)
  }
  75% {
      transform: scale(1.75);
      opacity: 1
  }
  100% {
      transform: scale(2);
      opacity: 0
  }
}


/*==============================
Competitve Area CSS
==============================*/

.competitve-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg-competative {
  background-image: url(./assets/images/banners/Competative-Banner2.jpg);
  // margin-top: 100px;
  }
.competative-area {
  position: relative;
  z-index: 1;
  background: {
      // image: url(./assets/images/banners/about.jpg);
      position: center center;
      size: cover;
      repeat: no-repeat;
  };
}
.competative-content {
  .section-title {
      margin-bottom: 20px;
      padding-left: 0;

      &::before, &::after {
          display: none;
      }
      h2 {
          font-size: 23px;
      }
      p {
          font-size: 15.5px;
      }
  }
  .features-list {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;

      li {
          margin-bottom: 10px;
          color: #727695;
          flex: 0 0 50%;
          max-width: 50%;
          font: {
              size: 15.5px;
          };
          i {
              color: var(--mainColor);
              margin-right: 7px;
          }
      }
  }
}
.competative-video {
  position: relative;

  .video-btn {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);

      button {
          position: relative;
          display: inline-block;
          width: 90px;
          height: 90px;
          border: none;
          transition: var(--transition);
          line-height: 92px;
          background-color: var(--whiteColor);
          border-radius: 50%;
          color: var(--mainColor);
          z-index: 1;
          font-size: 35px;

          &::after, &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: -1;
              bottom: 0;
              left: 0;
              border-radius: 50%;
              border: 1px solid var(--whiteColor);
          }
          &::before {
              animation: ripple 2s linear infinite
          }
          &::after {
              animation: ripple 2s linear 1s infinite
          }
          &:hover {
              background-color: var(--mainColor);
              color: var(--whiteColor);
          }
      }
  }
}
@keyframes pulse-border {
0% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity:1;
}
100% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
  opacity:0;
}
}
@keyframes ripple {
  0% {
      transform: scale(1)
  }
  75% {
      transform: scale(1.75);
      opacity: 1
  }
  100% {
      transform: scale(2);
      opacity: 0
  }
}

/*==============================
bipc Area CSS
==============================*/

.bipc-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg-bipc {
  background-image: url(./assets/images/banners/BiPC-Banner2.jpg);
  // margin-top: 100px;
  }
.bipc-area {
  position: relative;
  z-index: 1;
  background: {
      // image: url(./assets/images/banners/about.jpg);
      position: center center;
      size: cover;
      repeat: no-repeat;
  };
}
.bipc-content {
  .section-title {
      margin-bottom: 20px;
      padding-left: 0;

      &::before, &::after {
          display: none;
      }
      h2 {
          font-size: 23px;
      }
      p {
          font-size: 15.5px;
      }
  }
  .features-list {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;

      li {
          margin-bottom: 10px;
          color: #727695;
          flex: 0 0 50%;
          max-width: 50%;
          font: {
              size: 15.5px;
          };
          i {
              color: var(--mainColor);
              margin-right: 7px;
          }
      }
  }
}
.bipc-video {
  position: relative;

  .video-btn {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);

      button {
          position: relative;
          display: inline-block;
          width: 90px;
          height: 90px;
          border: none;
          transition: var(--transition);
          line-height: 92px;
          background-color: var(--whiteColor);
          border-radius: 50%;
          color: var(--mainColor);
          z-index: 1;
          font-size: 35px;

          &::after, &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: -1;
              bottom: 0;
              left: 0;
              border-radius: 50%;
              border: 1px solid var(--whiteColor);
          }
          &::before {
              animation: ripple 2s linear infinite
          }
          &::after {
              animation: ripple 2s linear 1s infinite
          }
          &:hover {
              background-color: var(--mainColor);
              color: var(--whiteColor);
          }
      }
  }
}
@keyframes pulse-border {
0% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity:1;
}
100% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
  opacity:0;
}
}
@keyframes ripple {
  0% {
      transform: scale(1)
  }
  75% {
      transform: scale(1.75);
      opacity: 1
  }
  100% {
      transform: scale(2);
      opacity: 0
  }
}

/*==============================
mpc Area CSS
==============================*/

.mpc-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg-mpc {
  background-image: url(./assets/images/banners/MPC-Banner.jpg);
  // margin-top: 100px;
  }


.mpc-area {
  position: relative;
  z-index: 1;
  background: {
      // image: url(./assets/images/banners/about.jpg);
      position: center center;
      size: cover;
      repeat: no-repeat;
  };
}
.mpc-content {
  .section-title {
      margin-bottom: 20px;
      padding-left: 0;

      &::before, &::after {
          display: none;
      }
      h2 {
          font-size: 23px;
      }
      p {
          font-size: 15.5px;
      }
  }
  .features-list {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;

      li {
          margin-bottom: 10px;
          color: #727695;
          flex: 0 0 50%;
          max-width: 50%;
          font: {
              size: 15.5px;
          };
          i {
              color: var(--mainColor);
              margin-right: 7px;
          }
      }
  }
}
.mpc-video {
  position: relative;

  .video-btn {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);

      button {
          position: relative;
          display: inline-block;
          width: 90px;
          height: 90px;
          border: none;
          transition: var(--transition);
          line-height: 92px;
          background-color: var(--whiteColor);
          border-radius: 50%;
          color: var(--mainColor);
          z-index: 1;
          font-size: 35px;

          &::after, &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: -1;
              bottom: 0;
              left: 0;
              border-radius: 50%;
              border: 1px solid var(--whiteColor);
          }
          &::before {
              animation: ripple 2s linear infinite
          }
          &::after {
              animation: ripple 2s linear 1s infinite
          }
          &:hover {
              background-color: var(--mainColor);
              color: var(--whiteColor);
          }
      }
  }
}
@keyframes pulse-border {
0% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity:1;
}
100% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
  opacity:0;
}
}
@keyframes ripple {
  0% {
      transform: scale(1)
  }
  75% {
      transform: scale(1.75);
      opacity: 1
  }
  100% {
      transform: scale(2);
      opacity: 0
  }
}


/*==============================
iit-jee Area CSS
==============================*/

.iit-jee-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg-iit-jee {
  background-image: url(./assets/images/banners/IIT-JEE-Banner2.jpg);
  // margin-top: 100px;
  }
.iit-jee-area {
  position: relative;
  z-index: 1;
  background: {
      // image: url(./assets/images/banners/about.jpg);
      position: center center;
      size: cover;
      repeat: no-repeat;
  };
}
.iit-jee-content {
  .section-title {
      margin-bottom: 20px;
      padding-left: 0;

      &::before, &::after {
          display: none;
      }
      h2 {
          font-size: 23px;
      }
      p {
          font-size: 14px;
      }
  }
  .features-list {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;

      li {
          margin-bottom: 10px;
          color: #727695;
          flex: 0 0 50%;
          max-width: 50%;
          font: {
              size: 15.5px;
          };
          i {
              color: var(--mainColor);
              margin-right: 7px;
          }
      }
  }
}
.iit-jee-video {
  position: relative;

  .video-btn {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);

      button {
          position: relative;
          display: inline-block;
          width: 90px;
          height: 90px;
          border: none;
          transition: var(--transition);
          line-height: 92px;
          background-color: var(--whiteColor);
          border-radius: 50%;
          color: var(--mainColor);
          z-index: 1;
          font-size: 35px;

          &::after, &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: -1;
              bottom: 0;
              left: 0;
              border-radius: 50%;
              border: 1px solid var(--whiteColor);
          }
          &::before {
              animation: ripple 2s linear infinite
          }
          &::after {
              animation: ripple 2s linear 1s infinite
          }
          &:hover {
              background-color: var(--mainColor);
              color: var(--whiteColor);
          }
      }
  }
}
@keyframes pulse-border {
0% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity:1;
}
100% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
  opacity:0;
}
}
@keyframes ripple {
  0% {
      transform: scale(1)
  }
  75% {
      transform: scale(1.75);
      opacity: 1
  }
  100% {
      transform: scale(2);
      opacity: 0
  }
}

/*==============================
neet Area CSS
==============================*/

.neet-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg-neet {
  background-image: url(./assets/images/banners/NEET-Banner2.jpg);
  // margin-top: 100px;
  }
.neet-area {
  position: relative;
  z-index: 1;
  background: {
      // image: url(./assets/images/banners/about.jpg);
      position: center center;
      size: cover;
      repeat: no-repeat;
  };
}
.neet-content {
  .section-title {
      margin-bottom: 20px;
      padding-left: 0;

      &::before, &::after {
          display: none;
      }
      h2 {
          font-size: 23px;
      }
      p {
          font-size: 14px;
      }
  }
  .features-list {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;

      li {
          margin-bottom: 10px;
          // color: #203E78;
          color: #203E78;
          flex: 0 0 50%;
          max-width: 50%;
          font: {
              size: 15.5px;
          };
          i {
              color: var(--mainColor);
              margin-right: 7px;
          }
      }
  }
}
.neet-video {
  position: relative;

  .video-btn {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);

      button {
          position: relative;
          display: inline-block;
          width: 90px;
          height: 90px;
          border: none;
          transition: var(--transition);
          line-height: 92px;
          background-color: var(--whiteColor);
          border-radius: 50%;
          color: var(--mainColor);
          z-index: 1;
          font-size: 35px;

          &::after, &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: -1;
              bottom: 0;
              left: 0;
              border-radius: 50%;
              border: 1px solid var(--whiteColor);
          }
          &::before {
              animation: ripple 2s linear infinite
          }
          &::after {
              animation: ripple 2s linear 1s infinite
          }
          &:hover {
              background-color: var(--mainColor);
              color: var(--whiteColor);
          }
      }
  }
}
@keyframes pulse-border {
0% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity:1;
}
100% {
  transform:translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
  opacity:0;
}
}
@keyframes ripple {
  0% {
      transform: scale(1)
  }
  75% {
      transform: scale(1.75);
      opacity: 1
  }
  100% {
      transform: scale(2);
      opacity: 0
  }
}

/*==============================
Blog Area CSS
==============================*/

.blog-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg-blog {
  background-image: url(./assets/images/banners/Blog-Banner2.jpg);
  // margin-top: 100px;
  }

.blog-area {
  position: relative;
  z-index: 1;
  // background-color: #b2d3ff3b;
//   // background: url(./assets/images/banners/blog-bg2.jpg);
//   // background: {
//   //   size: cover;
//   //   position: center center;
//   //   repeat: no-repeat;
// };
}
.single-box-item{
  background-color: #ffff;
  font-family: 'Agenor';
  // margin: rem 0 0;
  padding: 1rem ;
  width: 100%;
  height: 150px;
  position: relative;
  padding: 0 10px 10px;
  margin: 20px;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px #43434326;
  border-radius: 20px;
  &::before{
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--whiteColor);
    transition: var(--transition);
    border-radius: 10px;
}
h3{
  color: var(--mainColor);
    padding: 28px 10px 0;
    font-weight: 600;
    padding-left: 28%;

}
&:hover::before {
  background: var(--mainColor);

}

&:hover .fa-lightbulb{
  background-color: var(--mainColor);
  border-color: var(--whiteColor);
  color: var(--whiteColor);
}

  .fa-lightbulb{
    // color: var(--mainColor);
    // position: absolute;
    // top: -50%;
    // left: 50%;
    // text-align: center;
    // font-size: 50px;
    // background-color: var(--whiteColor);
    // padding:  20px;
    // width: 100px;
    // height: 100px;
    // border: 3px solid var(--mainColor);
    // border-radius: 50% ;
    // transition: var(--transition);
    // color: var(--mainColor);
    // position: absolute;
    // /* top: -26%; */
    // left: 40%;
    // text-align: center;
    // font-size: 50px;
    // background-color: var(--whiteColor);
    // padding: 20px;
    // width: 100px;
    // height: 100px;
    // border: 5px solid var(--mainColor);
    // border-radius: 50%;
    // transition: var(--transition);
    // transform: translate(0%, -90%);

    color: var(--mainColor);
    position: absolute;
    top: 18%;
    left: 38%;
    text-align: center;
    font-size: 20px;
    background-color: var(--whiteColor);
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 5px solid var(--mainColor);
    border-radius: 50%;
    transition: var(--transition);
    transform: translate(0%, -90%);


  }
  a{
    // line-height: 32px;
    // text-shadow: 2px 1px #00000075;
    font-size: 18px;
  }
  &:hover h3 {
    color: var(--whiteColor) !important;
    // color: #FDD300 !important;
}
}


.single-blog-item {
// position: relative;
// padding: 30px;
//   // border: 1px solid #eeeeee;
//   margin-bottom: 30px;
//   z-index: 1;
//   overflow: hidden;
//   width: 100%;
//   height: 450px;
//   background: {
//       size: cover;
//       position: center center;
//       repeat: no-repeat;
//   };
border: 1px solid #dadada;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background: #fff;
    min-height: 400px;
  &::before {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--whiteColor);

      transition: var(--transition);
  }
  span {
      display: block;
      color: var(--mainColor);
      img{
        text-align: center;
        margin: auto;
        width: 100px !important;
        height: 100px;
        margin-bottom: 10px;
      }
  }
  span, p, h3 {
      position: relative;
      transition: var(--transition);
  }
  p {
      font-size: 15.5px;
      text-align: justify;
  }
  h3 {
      line-height: 1.5;
      margin: {
          top: 12px;
          bottom: 12px;
      };
      font: {
          size: 20px;
          weight: 500;
      };
      a {
          display: inline-block;


          color: #203E78 !important;
          &:hover {
              color: var(--mainColor) !important;
              color: #FDD300 !important;
          }
      }
  }
  .link-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 45px;
      height: 40px;
      line-height: 44px;
      text-align: center;
      box-shadow: 0px 0px 25px 0px rgba(0, 27, 103, 0.3);
      border-radius: 50% 0 0 0;
  }

  // &.bg1 {
  //     background-image: url(./assets/images/banners/blog-img1.jpg);
  // }
  // &.bg2 {
  //   background-image: url(./assets/images/banners/blog-img1.jpg);
  // }
  // &.bg3 {
  //   background-image: url(./assets/images/banners/blog-img1.jpg);
  // }
  // &.bg4 {
  //   background-image: url(./assets/images/banners/blog-img1.jpg);
  // }
  // &.bg5 {
  //   background-image: url(./assets/images/banners/blog-img1.jpg);
  // }
  // &.bg6 {
  //   background-image: url(./assets/images/banners/blog-img1.jpg);
  // }
  // &.bg7 {
  //   background-image: url(./assets/images/banners/blog-img1.jpg);
  // }
  // &.bg8 {
  //   background-image: url(./assets/images/banners/blog-img1.jpg);
  // }
  // &.bg9 {
  //   background-image: url(./assets/images/banners/blog-img1.jpg);
  // }
  &:hover {
      &::before {
          // background: var(--blackColor);
          background: var(--mainColor);
          // opacity: .66;
      }
      span, p, h3 a {
          color: var(--whiteColor);
      }
      .link-btn {
          background: var(--mainColor);
          color: var(--whiteColor);
      }
  }
}

/*==============================
Partner Area CSS
==============================*/
.partner-area {
  position: relative;
  z-index: 1;
  background: {
      // image: url(assets/img/bg1.jpg);
      position: center center;
      size: cover;
      repeat: no-repeat;
  };
}
.partner-item {
  margin-bottom: 30px;
  text-align: center;

  a {
      display: block;

      img {
          width: auto !important;
          display: inline-block !important;
      }
  }
}

/*==============================
Subscribe Area CSS
==============================*/
.subscribe-area {
  background: {
      // image: url(assets/img/pattern.png);
      position: center;
      size: contain;
      repeat: repeat;
      attachment: fixed;
  };
}
.newsletter {
max-width: 750px;
box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
background: var(--whiteColor);
padding: 40px 35px;
text-align: center;
  border-radius: 5px;
  margin: {
      left: auto;
      right: auto;
  };
  h2 {
      text-transform: capitalize;
      margin-bottom: 30px;
      font: {
          size: 35px;
          weight: 500;
      };
  }
  form {
      position: relative;

      .form-control {
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          border: none;
          height: 75px;
          border-radius: 50px;
          padding-left: 25px;
          font-size: 16px;
      }
      .btn {
          position: absolute;
          right: 7px;
          top: 8px;
          height: 60px;
          width: 175px;
          font-size: 17px;
      }
  }
}


/*==============================
Gallery Area CSS
==============================*/

.gallery-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg-gallery {
  background-image: url(./assets/images/banners/Gallery-Banner2.jpg);
  // margin-top: 100px;
  }

.gallery{
  // background-color: #ffc448;
  h1{
    font-size: 55px;
    font-weight: 700;
  }
  .gallery-text{

    color: #12141d;
  }
}

/*==============================
Contact Area CSS
==============================*/
.contact-banner {
  height: 440px;
  position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--blackColor);
        opacity: .58;
    }
    &.gradient-bg {
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
  }
  .item-bg-contact {
  background-image: url(./assets/images/banners/Conatct-Banner2.jpg);
  // margin-top: 100px;
  }

#map {
	width: 100%;
	height: 370px;
}
.contact-info {
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	background: var(--whiteColor);
    padding: 30px;
    height: 100%;
    border: {
        top: 3px solid var(--mainColor);
        bottom: 3px solid var(--mainColor);
    };
    ul {
        li {
            position: relative;
            padding-left: 60px;
            font-size: 16px;
            margin-bottom: 34px;
            color: var(--blackColor);

            &:last-child {
                margin-bottom: 0;
            }
            a {
                display: inline-block;
            }
            span {
                display: block;
                color: var(--blackColor);
                margin-bottom: 5px;
                font: {
                    size: 20px;
                    weight: 500;
                };
            }
            i {
                position: absolute;
                left: 0;
                top: 50%;
                color: var(--mainColor);
                font-size: 19px;
                background: #f6f6f6;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                border-radius: 50%;
                transition: var(--transition);
                transform: translateY(-50%);
            }
            &:hover {
                i {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}
.contact-form {
    background: var(--whiteColor);
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	padding: 30px;
    border: {
        top: 3px solid var(--mainColor);
        bottom: 3px solid var(--mainColor);
    };
    h3 {
        color: var(--mainColor);
        margin-bottom: 25px;
        font: {
            size: 20px;
            weight: 600;
        };
    }
    .form-control {
        border-radius: 3px;

        &:focus {
            border-color: var(--mainColor);
        }
    }
    label {
        margin-bottom: .5rem;
        font-size: 13px;
    }
    .btn {
        margin-top: 15px;
    }
    #message {
        height: auto;
        padding: 15px;
    }
}


/*==============================
Footer Area CSS
==============================*/
.footer-area {
	text-align: center;
	padding: 50px 0;
    background: var(--blackColor);

    h3 {
        line-height: 22px;
        margin-bottom: 30px;

        a {
            color: var(--whiteColor);
            text-transform: uppercase;
            display: inline-block;
            font: {
                size: 35px;
                weight: 600;
            };
        }
        img{
          width: 30vh;
          height: 30vh;
        }
        span {
            text-transform: lowercase;
            color: var(--mainColor);
            font: {
                size: 35px;
                weight: 700;
            };
        }
    }
    ul {
        li {
            display: inline-block;
            margin: {
                left: 4px;
                right: 4px;
            };
            a {
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 31px;
                border: 1px solid var(--whiteColor);
                border-radius: 50%;
                color: var(--whiteColor);
                font-size: 14px;
                display: block;

                &:hover, &:focus {
                    background: var(--mainColor);
                    color: var(--whiteColor);
                    border-color: var(--mainColor);
                }
            }
        }
    }
    p {
        line-height: 1;
        margin-top: 30px;
        color: var(--whiteColor);
    }
}
