
.blog-area{
  background-image: url(../../../assets/images/banners/dott.jpg);
  position: relative;
    overflow: hidden;
    background: {
        // position: center center;
        // size: cover;
        repeat: no-repeat;
    };
  padding: 50px  10px !important;
  // background-color: lightgray;
  // .section-title{
  //   background-color: #fff;
  //   padding: 20px;
  // }
  p{
    font-size: 14px;
    text-align: justify ;
  }
}
.blog-img{
  // background-color: black;
  // opacity: 0.5;
  // position: relative;
  // width: 100%;
  height: 200px;
  border-radius: 10px;
  // &::before{
  //   content: '';
  //   background-color: black;
  //   // opacity: 0.5;
  //   width: 100%;
  //   height: 100%;
  // }

}
