
<div id="blog" class="blog-area ptb-100">
  <div class="container">
      <div class="section-title">
          <h4>Our News</h4>
          <h2><span>Latest Blog Post</span></h2>
        </div>
        <div class="d-flex flex-column flex-lg-row flex-xl-row flex-sm-column flex-md-column">
          <div class="col">
            <img src="../../../assets/images/banners/blog-home.jpg" alt=""  class="blog-img">

          </div>
          <div class="col">

            <p class="my-3">Generating updated knowledge for leading student community to aware of the happening events to help them engage in academic pursuits of thier individual choice through the presentation of Notifications as well as allied articles and other analysis based material to keep them ahead with times</p>
          </div>
        </div>
        <div>
          <p>In today's fast-paced academic landscape, staying informed about the latest happenings and developments is crucial for students to make informed decisions about their academic pursuits. we are committed to providing the student community with the most up-to-date knowledge and insights to help them stay ahead of the curve.</p>
        </div>

  </div>
</div>


<!-- <app-subscribe></app-subscribe> -->
