
<div id="blog" class="blog-area ptb-100">
  <div class="container">
      <div class="section-title">
          <h4>Our News</h4>
          <h2>Latest Blog <span>Posts</span></h2>
        </div>
        <div class="d-flex">
          <div class="col">
            <img src="../../../assets/images/banners/blog-img1.jpg" alt=""  class="blog-img">

          </div>
          <div class="col">

            <p>Generating updated knowledge for leading student community to aware of the happening events to help them engage in academic pursuits of their individual choice through the presentation of Notifications as well as allied articles and other analysis based material to keep them ahead with times</p>
          </div>
        </div>

  </div>
</div>


<!-- <app-subscribe></app-subscribe> -->
